@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>HUTECH | Đăng nhập hệ thống</title>
    <!-- Add local styles, mostly for plugins css file -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script type="text/javascript" src="/Scripts/plugins/charts-flot/excanvas.min.js"></script>
    <![endif]-->
    <!-- Primary Inspinia style -->
    <link href="~/Content/cssdangnhap/animate.css" rel="stylesheet" />
    <link href="~/Content/cssdangnhap/bootstrap3.css" rel="stylesheet" />
    <link href="~/Content/cssdangnhap/color.css" rel="stylesheet" />
    <link href="~/Content/cssdangnhap/custom-style.css" rel="stylesheet" />
    <link href="~/Content/cssdangnhap/styles.css" rel="stylesheet" />



</head>
<body class="focusedform">
    <div class="verticalcenter">
        <a href="index.htm"><img src="~/Imgs/DangNhap/logo-hutech.png" alt="Logo" class="brand" /></a>
        <div class="panel panel-primary">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                <form class="form-horizontal" id="form_DN" method="post" role="form">
                    <div class="panel-body">
                        <h3>Cổng thông tin Cán Bộ Nhân Viên</h3>
                        <p>
                            Vui lòng sử dụng <strong>tài khoản</strong> và <strong>mật mã</strong> để đăng nhập.
                        </p>
                        <p>
                            <strong>
                                Tài khoản:
                            </strong> Tài khoản CB-Giảng Viên <br />
                            <strong> Mật khẩu:</strong> Mật khẩu CB-Giảng Viên<br />


                        </p>
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <div class="col-sm-12">

                                <h5 style="color:red">   @ViewData["Loi1"]</h5>
                                <h5 style="color:red">@ViewData["Loi2"]</h5>
                                <h5 style="color:red"> @ViewData["Loi3"]</h5>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <img src="~/Imgs/DangNhap/user.png" />
                                    </span>
                                    <input class="form-control" id="username" name="UserName" placeholder="Tài khoản" type="text" value="" />
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><img src="~/Imgs/DangNhap/key.png" /></span>
                                        <input class="form-control" id="password" name="Password" placeholder="Mật mã" type="password" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <a class="pull-left btn btn-link" href="" style="padding-left:0">Quên mật khẩu?</a>
                            <div class="pull-right">
                                <br />
                                <button type="submit" id="dk" value="Đăng nhập" class="btn btn-primary ">
                                    Đăng nhập
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            }
        </div>
        <div class="text-center">
            Phiên bản 1.1 <br />
            Bản quyền của <a href="http://www.hutech.edu.vn/">HUTECH</a> – Phát triển bởi <a href="http://qlcntt.hutech.edu.vn/">TTQLCNTT</a> © 2015 - 2016
            <br />
            Email hỗ trợ: <a href="mailto:congtacsinhvien@hutech.edu.vn">congtacsinhvien@hutech.edu.vn</a>
            <br />
            Điện thoại: 08. 35120.785 hoặc 08.35120.254
            <br />
            <br />
            Hỗ trợ tốt nhất trình duyệt Firefox phiên bản 11.0 trở lên.
        </div>
    </div>
    <!-- MODAL DIALOG -->
    <!-- DIALOG MUST BE PUT IN THIS SECTION -->
    <!-- MODAL DIALOG END -->
    <!-- End wrapper-->
    <!-- Handler for local scripts -->
</body>

</html>

